<nav class="navbar smart-scroll navbar-expand-lg nav-top" style="background-color: white;">
    <img src="../assets/soft.png" width="150px" height="50px">
     <div class="collapse navbar-collapse" id="main_nav">
     </div> <!-- navbar-collapse.// -->
     <div class="my-2 my-lg-0">
       <span style="padding: 10px 10px">Services</span>
       <span style="padding: 10px 10px">Blog</span>
       <span style="padding: 10px 10px">Portfolio</span>
       <span style="padding: 10px 10px">Company</span>
       <span style="padding: 10px 10px">E-Store</span>
       <button type="button" class="btn btn-primary" style="background-color: orange; border-radius: 20px; border: none;">
         <span style="padding: 10px">Contact Us</span>
       </button>
     </div>
</nav>  