<div style="background-color: #ecf5fe; padding-bottom: 50px;">
    <div class="container">
        <h3 class="mt-5" style="text-align: center; padding-top: 40px; font-weight: bold; font-size: 30px; color: darkblue;">
            SoftProdigy's Mobile App Development Technology
        </h3>
        <h3 class="mb-5" style="text-align: center; padding-top: 5px; font-weight: bold; font-size: 30px; color: darkblue;">Stack includes...</h3>
        <div class="card" style="width: 100%; border-radius: 10px; box-shadow: 0px 0px 5px  1px #888888;">
            <div class="card-body" style="padding-left: 120px; padding-top: 50px">
              <h5 class="card-title" style="font-weight: bold; font-size: 25px; color: darkblue; text-decoration: underline;">Kotlin App Development</h5>
              <p class="card-text">
                Kotlin is a modern programming language, the second official one for Android, after Java. However, as compared to 
                Java, this language is much simpler and offers a very easy learning curve to the developers. This is why, even the 
                top Android app developers for hire choose Kotlin as a preferred language. SoftProdigy is a leading Android app 
                development company and our team of experts specializes in Kotlin and related software, development environments, 
                SDKs, and frameworks. Our proficiency in Kotlin has been proved by our delivery of high-quality, result-oriented apps 
                to our clients. This free-to-use and open-source language is the best for development of highly advanced and 
                feature-packed Android apps. Contact us or hire Android mobile application developers at SoftProdigy to utilize Kotlin!
              </p>
            </div>
        </div>
        <div class="card" style="width: 100%; border-radius: 10px; box-shadow: 0px 0px 5px  1px #888888; background-color: white;" class="mt-5">
            <div class="card-body" style="padding-left: 120px; padding-top: 50px">
                <h5 class="card-title" style="font-weight: bold; font-size: 25px; color: darkblue; text-decoration: underline;">Java App Development</h5>
                <p class="card-text">
                    Java is known to be the most flexible programming language in mobile app development. Owned by Oracle, Java has been a 
                    favorite of the companies offering Android app development services for almost two decades. The versatility of this 
                    language can’t be overlooked. Thanks to its platform independence, it has become extremely popular among the Android app 
                    developers for hire. Java lends a robust feel to an Android app that is created using this programming language. 
                    Its modular, flexible, and extensible features make Java the most sought-after platform for dynamic Android app 
                    development.
                </p>
            </div>
        </div>
        <div class="card" style="width: 100%; border-radius: 10px; box-shadow: 0px 0px 5px  1px #888888; background-color: white;" class="mt-5">
            <div class="card-body" style="padding-left: 120px; padding-top: 50px">
                <h5 class="card-title" style="font-weight: bold; font-size: 25px; color: darkblue; text-decoration: underline;">MVP & MVVM Architecture</h5>
                <p class="card-text">
                    We have earned a name in creating apps with the most dynamic technologies and platforms. And MVP and MVVM 
                    architecture-based apps are not left in the cold. With expert Android app development services delivered by the 
                    Android app developers for hire at SoftProdigy, our returning clients come in for more. These architectural 
                    components help to rule out the need to test, maintain and extend the in the web app development process. Thus, a 
                    lot of time is saved and cost-cutting is possible with MVP and MVVM, both. SoftProdigy is an Android app development 
                    company that has chosen this technology over other conventional methods and has been excelling with winning results! 
                    So, pick us if you want to hire Android app developer!
                </p>
            </div>
        </div>
        <div class="card" style="width: 100%; border-radius: 10px; box-shadow: 0px 0px 5px  1px #888888; background-color: white;" class="mt-5">
            <div class="card-body" style="padding-left: 120px; padding-top: 50px">
                <h5 class="card-title" style="font-weight: bold; font-size: 25px; color: darkblue; text-decoration: underline;">Android Jetpack</h5>
                <p class="card-text">
                    Enabling our global clients with tailor-made mobile apps for businesses, Android Jetpack has come a long way. Our 
                    expert Android app developers for hire love to use this suite of tools, libraries, and guidance to create robust 
                    apps in no time! The need to write boilerplate code is ruled out with the Android Jetpack. It is also a full-fledged 
                    package of components needed to simplify complex tasks and focus on what’s actually needed. We, at SoftProdigy are 
                    always intrigued about the best and the latest in the world of technology. With our expertise in Android Jetpack, we 
                    will create feature-rich Android apps for you! So, hire Android mobile application developers at SoftProdigy for your 
                    next app development project!
                </p>
            </div>
        </div>
        <div 
            class="mt-5" 
            style="background-image: url('https://www.softprodigy.com/wp-content/themes/softprodigy-2019/img/call-to-action-2.jpg');
                    padding-left: 70px; padding-right: 70px; padding-top: 50px; padding-bottom: 50px; width: 75%; margin: auto; border-radius: 40px;
                    font-size: 20px"
        >
            <img>
            <span style="color: white; font-weight: bold; margin-bottom: 10px;">
                Want to target Android users with a high-performing and advanced mobile app? Hire Android mobile application 
                developers at SoftProdigy for expert services.We have always explored and mastered this operating system and all the 
                major languages and technologies to create impeccable mobiles apps.
            </span>
        </div>
    </div>
</div>